
a,li{
    display: inline;
        padding: 10px;
    }
    #caixa-pesquisa {
      width: 70%;
      padding: 14px;
      border: 1px solid #ccc;
      border-radius: 14px;
      display: inline-block;
      margin: 10px;
      background-color: #ccc;
    }
    
    #imagem-canto{
        margin-right: 10px;
    }
    
    #categorias a{
      text-decoration: none;
        color: black;
        padding: 10px;
        font-size: 18px;
    }
    
    #categorias ul {
        display: flex;
        justify-content: center;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    #form {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    
    .imagem-direita img{
      padding: 15px;
      width: 45px;
      position: relative;
      cursor: pointer;
    }
    
    #Eco a{
        color: green;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        width: 160px; 
        max-height: 250px; 
        overflow-y: auto;
      }
      
      .dropdown-content a {
        color: black;
        text-decoration: none;
        display: block;
        text-align: left;
      }
      
      .dropdown-content a:hover {
        background-color: #f1f1f1;
    }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
    
      #Eco a:hover {
        color: rgb(4, 155, 4);
        text-decoration: underline;
      }
    
      #categorias a:hover {
        text-decoration: underline;
      }
        #carrinho {
          position: absolute;
          top: 120px;
          right: 20px;
          background-color: #fff;
          border: 1px solid #ddd;
          padding: 20px;
          width: 300px;
          
        }
        
        #carrinho-produtos {
          margin-bottom: 20px;
          
        }
        
        #carrinho-produtos div {
          margin-bottom: 10px;
          padding-bottom: 10px;
          border-bottom: 1px solid
        }
        #total-carrinho {
          font-weight: bold;
        }
        .txt-cima{
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          border-bottom: 1px solid rgba(170, 170, 170, 0.37);
          margin: 0;
          border-top:none ;
          border-left:none ;
          height: 50px;
        }
#home, #Produtos-cima{
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
}

#Produtos-cima{
  
}

.pagination-pagination-sm{
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 1000px;
  text-decoration: underline;
}
.page-item-disabled{
}
.page-link{
  text-decoration: none;
  color: black;
}

.page-link:hover{
  background-color: #2E8B57;
  border-radius: 10px;
}
#imagem-filtro {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.blocos-coluna {
  border-bottom: 0.5px solid gray;
  border-right: 0.5px solid gray;;
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 10vw;
  height: auto;
  padding-bottom: 25px;
  border-right:none ;

}

.filtro {
  flex-direction: row;
  height: 10px;
}

.tags-filtradas {
  height: 50px;
}
.aplicar{
  margin-top: 5px;
  width: 50%;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(41, 65, 18);
  color: white;
}
main{
  display: flex;
}

.produtos-container {
  width: 100%;
  background: rgba(211, 211, 211, 0.397);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;

}

.produto {
  margin: 10px;
  display: inline-block;
  padding: 20px;


}

.imagem-produto {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.descricao-produto {
  width: 150px;
  text-align: center;
}

.avaliacao{
  margin-top: 10px;
  display: flex;
color: #FFC633;
}
.botoes button{
  margin-left: 10px;
  border: 1px solid green;
  color: rgb(0, 0, 0);
  background-color: transparent;
  border-radius: 5px;
}

.botoes button:hover{
  background-color: green;
  color: white;
  cursor: pointer;
  transition: background-color 0.6s ease-in-out;
}

.botoes button:active{
  background-color: green;
  color: white;
  cursor: pointer;
  transform: scale(0.95);
}

/* Estiliza os botões */
button {
  background-color: #006c3f;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

.remover-produto {
  background-color: #006c3f;
  color: rgb(255, 255, 255);
}

.remover-produto:hover {
  background-color: #02995a;
}

.comprar-produto {
  background-color: #006c3f;
}

.comprar-produto:hover {
  background-color: #02995a;
}

.comprar {
  background-color: #006c3f;
  padding: 10px 30px;
  font-size: 18px;
}

.comprar:hover {
  background-color: #02995a8a;
}