
footer {
    background-color: #000;
    color: #fff;
    padding: 5px;
  }

#caixapreta {
    background-color: #000000;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.2rem;
}

#caixapreta h3 {
    border-bottom: 1px solid #006C3F;
    padding-bottom: 0,5px;
    margin-bottom: 0,5px;
    text-align: center;

}

#caixapreta ul {
    list-style: none;
    padding: 0;
    text-align: center;
}
#caixapreta li {
    display: block;
    margin: 5px 0;
    text-align: center;
}

#caixapreta a {
    color: #fff;
    text-decoration: none;
}

#caixapreta a:hover {
    text-decoration: underline;
}

#caixa_alta {
    background-color:#006C3F;
    color: #fff;
    text-align: center;
    font-size: 1.3rem;
}

#cb01{
    background-color: #000000;
}

#caixa_baixa{
  background-color: #000000;
  color: #fff;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

#cbnomes{
    background-color: #000000;
    color: #fff;
    text-align: center;
    margin: 5px 0;
    font-size: 1.2rem;
}
a{
    text-decoration: none;
    color: #fff;
}

#caixap01, #caixap02, #caixap03 {
    flex: 2;
    margin: 0 10px;
}
#rodape{
    margin-top: 50px;
}
@media (max-width: 900px){
    #caixapreta{
        flex-direction: column;
    }
}

  