/* Fontes customizadas */
body#sobre-nos{
    background-color: #F4F1E9;
}
#nossa-historia{
    width: 99.8vw;
    height: auto;
    background: #006C3F;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    padding-top: 80px;
    text-align: center;
}

#titulo-texto-historia{
    font-family: Oswald;
    font-size: 2.5rem;
    color: white ;
}
#titulo-texto-historia2{
    font-family: Oswald;
    font-size: 1.8rem;
    color: white ;
    text-indent: 120px;
}
#texto-nossa-historia{
    display: flex;
    flex-direction: row;
}
#primeiro-texto,#segundo-texto{
    width: 450px;
    margin-right: 30px;
    margin-left: 30px;
    text-align: justify;
    font-size: 2rem;
    font-family: CrimsonText;
}
#nossa-equipe {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 99.9vw;
    height: auto;
    background-color: #F4F1E9;
    padding-top: 15px;
    padding: 20px;
    align-items: center;
    justify-content: space-evenly;
}

#quadrados-equipe {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nossa-equipe-quadrado {
    width: 400px;
    height: auto;
    background-color: white;
    color: black;
    text-align: center;
    margin: 10px;
    padding: 20px;
    font-size: 1.5rem;
    border: 2px solid rgb(131, 173, 131);
}

.nossa-equipe-quadrado img {
    width: 300px;
    height: 300px;
    border-radius: 150px;
}

.nossa-equipe-quadrado h2 {
    margin: 0;
    margin-top: 10px;
    font-size: 2.1rem;
}
.nossa-equipe-quadrado p{
    font-size: 1.6rem;
}
#nossos-valores{
    width: 99.8vw;
    height: 99.5vh;
    background-color: yellow;
    padding: 5px;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
}
#primeira-coluna{
    display: flex;
    flex-direction: column;
}
.valores{
    display: flex;
    background-color: white;
    flex-direction: column;
    width: 700px;
    height: 110vh;
    padding: 15px;
    align-items: left;
    font-size: 1.8rem;
    margin-bottom: 20px;
    margin-top: 20px;
}
.titulo-e-imagem{
    display: flex;
}
.titulo-e-imagem img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.texto-valores{
    text-align: justify;
}
#nossos-valores{
    width: 99.8vw;
    height: auto;
    padding: 20px;
    background-color: #006C3F;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
.quadrado-valores{
    width: 400px;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    border-radius: 15px ;
    margin: 15px;
}
.texto-escondido{
    display: none;
    font-size: 1.8rem;
    text-align: justify;
}
#alinhamento-row{
    width: 99.8vw;
    display: flex;
    justify-content: space-around;
}
@media (max-width: 1000px){
    #alinhamento-row{
        flex-direction: column;
        align-items: center;
    }
    #texto-nossa-historia{
        flex-direction: column;
    }
    #primeiro-texto,#segundo-texto{
        font-size: 2rem;
    }
    #titulo-texto-historia{
        font-size: 2.1rem;
    }
    #quadrado-valores{
        width: 60%;
        font-size: 2rem;
    }
    #quadrado-valores img{
        width: 40%;
        height: 50%;
    }
    .nossa-equipe-quadrado{
        width: 60%;
        font-size: 2rem;
    }
}
@media(max-width:900px){
    #primeiro-texto,#segundo-texto{
        font-size: 1.6rem;
    }
    #titulo-texto-historia{
        font-size: 1.8rem;
    }
}