/* Fontes customizadas */
@font-face {
    font-family: "Nunito";
    src: url(Nunito.ttf);
}

@font-face {
    font-family: "CrimsonText";
    src: url(CrimsonText.ttf);
}

body {
    font-family: Nunito, CrimsonText;
    /* Padrão de fontes */
    margin: 0;
    padding: 0;
}

#imagem-inicial-sobre {
    width: 99.8vw;
    height: 55vh;
    background-image: url(../img/\(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#imagem-inicial-sobre span {
    display: block;
    font-size: 1.8rem;
}

#imagem-inicial-sobre #titulo {
    font-size: 3rem;
}

#imagem2-inicial-sobre {
    width: 99.8vw;
    height: 43vh;
    background-color: blue;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.quadrados-meio {
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -55px;
    background-color: white;
    border-radius: 15px;
    flex-direction: column;
    font-size: 1.7rem;
}

.quadrados-meio img {
    width: 250px;
    height: 250px;
    margin-bottom: 30px;
}

#texto-sobre-empresa {
    margin-top: 5px;
    width: 99.8vw;
    height: 90vh;
    border: 1px solid blue;
    position: relative;
}

#texto-sobre-empresa {
    position: relative;
    /* Se necessário para o contexto de empilhamento */
}

#align-item-end {
    position: absolute;
    /* ou relative */
    z-index: 1;
    /* Menor valor */
    background-color: red;
    /* Apenas para visualização */
    width: 700px;
    height: 400px;
    bottom: 15px;
    left: 15px;
}

#align-item-center {
    position: absolute;
    /* ou relative */
    z-index: 2;
    /* Maior valor */
    background: linear-gradient(to bottom, #47EBB4, #FFF);
    /* Apenas para visualização */
    width: 800px;
    height: 500px;
    top: 50%;
    /* 50% da altura do contêiner */
    left: 50%;
    /* 50% da largura do contêiner */
    transform: translate(-50%, -50%);
    /* Move o elemento para cima e para a esquerda pela metade da sua própria largura e altura */
    text-align: justify;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    padding: 10px;
    flex-direction: column;
    border-radius: 10px;
}

#align-item-start {
    position: absolute;
    /* ou relative */
    z-index: 1;
    /* Menor valor */
    background-color: green;
    /* Apenas para visualização */
    width: 700px;
    height: 400px;
    right: 50px;
    top: 15px;
}

#nossa-equipe {
    width: 99.8vw;
    height: 90vh;
    background-color: #47EBB4;
    position: relative;
}

.quadrado-descricao {
    display: flex;
    border: 1px solid red;
    width: 500px;
    height: 250px;
    margin: 5px;
    padding: 5px;
    background-color: white;
}

.equipe-imagem {
    width: 250px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-pessoa {
    width: 250px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.equipe-imagem img {
    width: 200px;
    height: 200px;
    border-radius: 100px;

}

.ultimo-quadro {
    position: absolute;
    right: 0;
    bottom: 0;
}

.segundo-quadro {
    position: absolute;
    right: 0;
    top: 0;
}

.centro-quadro {
    position: absolute;
    top: 50%;
    /* 50% da altura do contêiner */
    left: 50%;
    /* 50% da largura do contêiner */
    transform: translate(-50%, -50%);
    /* Move o elemento para cima e para a esquerda pela metade da sua própria largura e altura */
}

.quarto-quadro {
    position: absolute;
    bottom: 0;
    left: 0;
}

#colaboladores {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.5rem;
    padding: 5px;
    background-color: brown;
    margin-top: 10px;
}

#colaboladores div {
    display: flex;
    justify-content: space-evenly;
}

#nossos-valores {
    width: 99.8vw;
    height: 99.5vh;
    background-color: yellow;
    margin-top: 10px;
    padding: 5px;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
}

#primeira-coluna {
    display: flex;
    flex-direction: column;
}

.valores {
    display: flex;
    background-color: white;
    flex-direction: column;
    width: 700px;
    height: 110vh;
    padding: 15px;
    align-items: left;
    font-size: 1.8rem;
    margin-bottom: 20px;
    margin-top: 20px;
}

.titulo-e-imagem {
    display: flex;
}

.titulo-e-imagem img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.texto-valores {
    text-align: justify;
}

#perguntas-e-fatos {
    width: 99.8vw;
    height: 50vh;
    background-color: orange;
    margin-top: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perguntas-e-fatos {
    background-color: white;
    width: 80%;
    height: auto;
    padding: 10px;
    font-size: 1.4rem;
    border-radius: 5px;
    position: relative;
    margin-bottom: 15px;

}

.perguntas-e-fatos img {
    position: absolute;
    right: 10px;
    top: 30px;
    border: 1px solid red;
}

.texto-escondido {
    display: none;
    margin-top: 10px;
    color: #ecf0f1;
}

#perguntas-e-fatos button {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background-color: #29c20a;
    font-size: 1.1rem;
    color: white;
}