body {
    font-family: Nunito, CrimsonText; /* Padrão de fontes */
    margin: 0;
    padding: 0;
    overflow: hidden; /* Impede qualquer rolagem indesejada */
}
@keyframes movimentacao_inicial{
    from{
        left: -200px;
    }
    to{
        left: 0;
    }
}
a{
    color: white;
    text-decoration: none;
}
#tela-inteira-cadastro {
    height: 100vh;  /* Use 100vh para garantir 100% da altura da tela */
    width: 100vw;   /* Use 100vw para garantir 100% da largura da tela */
    background: -webkit-gradient(linear,left top, left bottom,from(#11422D),color-stop(#6EC030),color-stop(#3CA12A)) no-repeat;
    background: -o-linear-gradient(top,#6EC030,#3CA12A,#11422D) no-repeat;
    background: linear-gradient(to bottom,#11422D,#3CA12A,#6EC030) no-repeat; display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; /* Relativo para que o absolute funcione */
    animation-name: movimentacao_inicial;
    animation-duration: 1s;
}
#fazer-login-container {
    width: 500px;
    height: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2.5rem;
    color: white;

}
#fazer-cadastro-container {
    width: 500px;
    height: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
}
h1 {
    font-size: 3rem;
    margin: 10px;
}

/* Estilo do formulário */
form {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
/* Estilo dos inputs e botões */
input, button {
    display: block;
    width: 60%;
    height: 10%;
    margin-bottom: 15px;
    font-size: 1.7rem;
    padding-left: 15px;
}

input {
    border: none;
    border-bottom: 1px solid gray;
}
button {
    width: 30%;
    height: 15%;
}

/* Botão alinhado à direita */
.alinhamento-a-direita {
    margin-right: -174px;
    background-color:  #28871F;
    color: white;
    height: 9%;
    border-radius: 10px;
    margin-top: 30px;
}

.alinhamento-a-direita:hover {
    background-color: #11422D;
    cursor: pointer;
}

/* Botão vermelho */
.color-red-button {
    background-color: #11422D;
    color: white;
    height: 9%;
    border-radius: 10px;
}

.color-red-button:hover {
    background-color: #28871F;
    cursor: pointer;
}


/* Imagem de voltar no canto */
#imagem-voltar {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px; /* Adiciona espaçamento */
    z-index: 1000; /* Garante que a imagem esteja sempre visível acima de outros elementos */
}

#imagem-voltar img {
    width: 40px; /* Ajusta o tamanho da imagem */
    height: auto; /* Mantém a proporção da imagem */
}
#redes-sociais-container img{
    width: 50px;
    height: 50px;
    margin: 5px;
}
#redes-sociais-container img:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}
/* Media query para telas menores */
@media (max-width: 850px) {
    #tela-inteira-cadastro {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
    }
    
    #fazer-login-container {
        margin-bottom: 10px;
        background-color: white;
        height: 40%;
        font-size: 1.5rem;
    }
    #fazer-login-container span{
        font-size: 1.4rem;
        margin-top: -15px;
        margin-bottom: 15px;
        color: black;
    }

    .color-red-button {
        height: 50px;
        width: 145px;
    }
    .alinhamento-a-direita{
        margin: 0 auto;
        margin-top: 30px;
    }
    #imagem-voltar img {
        width: 30px; /* Reduz o tamanho da imagem em telas menores */
    }
    input,button{
        font-size: 1.2rem;
    }
}.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}